  <div class="container">
    <div class = "left">
        <h1>Filters</h1>
        <div class="filters">
            <label for="datefrom">From : </label>
            <input type="date" id="datefrom">
            <label for="dateto">To : </label>
            <input type="date" id="dateto">
        </div>
        <div class="currency">
            <label for="currency">Currency : </label>
            <select name="currency" id="currency">
                <option value="USD">US Dollar($)</option>
                <option value="EUR">Euro (€)</option>
            </select>
        </div>
    </div>
    <div class="right">
        <h1>Values</h1>
        <span class="max"></span>
        <span class="min"></span>
    </div>
 </div>  

<canvas id="myChart" width="600px" height="300px"></canvas>
